.bg-black{background-color:#0000;}
.list-group{
    --bs-list-group-bg:transparent;
padding:0%

       }
i.fa-brands.fa-linkedin.fa-2x.text-white:hover{
    --bs-text-opacity: 1;
    color: rgb(135, 46, 161) !important;
     
}
i.fa-brands.fa-github.fa-2x.text-white:hover{
    --bs-text-opacity: 1;
    color: rgb(135, 46, 161) !important;
    }
i.fa-solid.fa-user-lock.fa-2x.text-white:hover{
    --bs-text-opacity: 1;
    color: rgb(135, 46, 161) !important;
    min-width: 0em;
       }
@media (max-width: 575px)
.list-group.list-group-horizontal {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em;
}