<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>

            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus culpa illum sapiente optio ullam deserunt ut voluptatem voluptate quos! Fugiat mollitia similique commodi, dolorum assumenda quidem facere sequi dicta reiciendis.
            </p>
        </ul>

    </div>



</div>
