    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../assets/img/flower_universe_plant_cosmos.jpg" class="img-fluid" id="foto">

        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">MELINA CARBAJAL</p>
            <p>Full Stack Developer Junior</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure doloribus, nobis esse dignissimos ut adipisci architecto laboriosam quis sint beatae dolore commodi cumque, ad distinctio ex iste natus qui deleniti?</p>

            </span>
        </div>


    </div>






